$backgroundLight: darken(white, 10);
$backgroundDark: lighten(black, 10);

$secondaryLight: #009688;
$secondaryDark: #4db6ac;

$colorLight: rgba(black, .8);
$colorDark: rgba(white, .8);

$headerSize: 80px;
$headerSizeMobile: 60px;

$paddingLeftRight: 3rem;
$paddingLeftRightTablet: 2rem;
$paddingLeftRightMobile: 1rem;
